In [6]:
import pandas as pd
adopce = pd.read_csv("adopce.csv", sep =";")
adopce.info()
adopce.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           513 non-null    float64
 1   nazev_cz     513 non-null    object
 2   nazev_en     513 non-null    object
 3   trida_cz     513 non-null    object
 4   cena         513 non-null    float64
 5   k_prohlidce  513 non-null    float64
 6   Unnamed: 6   0 non-null      float64
dtypes: float64(4), object(3)
memory usage: 28.2+ KB

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce',
       'Unnamed: 6'],
      dtype='object')

In [7]:
len(adopce)

514

In [18]:
adopce.iloc[34][1:3]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

In [22]:
adopce = pd.read_csv("adopce.csv", sep =";", index_col=1)
adopce

,id,nazev_en,trida_cz,cena,k_prohlidce,Unnamed: 6
nazev_cz,,,,,,
Šváb syčivý,7.0,Madagascar giant cockroach,Bezobratlí,1000.0,1.0,NaN
Pakobylka okřídlená,8.0,Pink-winged stick insect,Bezobratlí,1000.0,1.0,NaN
Tayra,16.0,Tayra,Savci,5000.0,1.0,NaN
Kajmanka supí,35.0,Alligator snapping turtle,Plazi,2000.0,1.0,NaN
Želva žlutočelá,37.0,Indochinese box turtle,Plazi,1000.0,1.0,NaN
...,...,...,...,...,...,...
Létavka obecná,1418.0,,Obojživelníci,1000.0,1.0,NaN
Bažant paví,1419.0,,Ptáci,1000.0,1.0,NaN
Sojkovec rezavouchý,1420.0,,Ptáci,1000.0,1.0,NaN
Kachnice kaštanová,1421.0,,Ptáci,1000.0,1.0,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
adopce.index.is_unique

True

In [32]:
adopce_new = adopce.sort_index()
adopce_new.loc["Outloň váhavý"]
adopce_new.loc["Želva Smithova":"Želva žlutočelá"]

,id,nazev_en,trida_cz,cena,k_prohlidce,Unnamed: 6
nazev_cz,,,,,,
Želva Smithova,1117.0,Brown roof turtle,Plazi,1000.0,1.0,NaN
Želva amboinská,479.0,Malayan box turtle,Plazi,1000.0,1.0,NaN
Želva annámská,478.0,Vietnamese pond turtle,Plazi,1000.0,1.0,NaN
Želva bahenní,1115.0,European pond turtle,Plazi,1000.0,1.0,NaN
Želva dlaždicovitá,1338.0,Impressed tortoise,Plazi,3000.0,1.0,NaN
Želva egyptská,980.0,Egyptian tortoise,Plazi,1000.0,1.0,NaN
Želva hvězdnatá,1412.0,,Plazi,1500.0,1.0,NaN
Želva korunkatá,1112.0,Crowned river turtle,Plazi,2000.0,1.0,NaN
Želva kubánská,830.0,North Antillean slider,Plazi,1000.0,1.0,NaN
Želva obrovská,40.0,Aldabra giant tortoise,Plazi,5000.0,1.0,NaN
Želva ostnitá,1255.0,Spiny turtle,Plazi,2000.0,1.0,NaN
Želva pardálí,763.0,Leopard tortoise,Plazi,2000.0,1.0,NaN
Želva plochohřbetá,987.0,Malayan flat-shelled turtle,Plazi,2000.0,1.0,NaN
Želva skalní,41.0,Pancake tortoise,Plazi,1000.0,1.0,NaN
Želva sloní,39.0,Galapagos tortoise,Plazi,5000.0,1.0,NaN
Želva stepní (= čtyřprstá),38.0,Russian tortoise,Plazi,1500.0,1.0,NaN
Želva texaská (= Berlandierova),1096.0,Texas tortoise,Plazi,1000.0,1.0,NaN
Želva tlustohrdlá,772.0,Malaysian black mud turtle,Plazi,1000.0,1.0,NaN
Želva tuniská,1160.0,Tunisian spur-thighed tortoise,Plazi,1000.0,1.0,NaN
Želva zubatá,771.0,Asian leaf turtle,Plazi,1000.0,1.0,NaN
Želva černavá,673.0,Giant Asian pond turtle,Plazi,2000.0,1.0,NaN
Želva žlutočelá,37.0,Indochinese box turtle,Plazi,1000.0,1.0,NaN